body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

img {
  width: 100px;
  border-radius: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stats div span {
  font-size: 18px;
  font-weight: bold;
}

#live {
  margin-top: 15px;
  padding: 8px;
  border-radius: 10px;
}

.online {
  background: #e8fff0;
  color: green;
}

.offline {
  background: #ffeaea;
  color: red;
}
